@media (min-width: 720px) {
    nav ul {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    header h1 {
        font-size: 2rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .container {
        max-width: 1100px;
    }

    .controls {
        flex-direction: row;
        justify-content: center;
    }

    .controls button {
        width: auto;
    }

    .grid-view {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
    #member-list.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
    #menuBtn {
        display: none;
    }

    .member-card {
        text-align: left;
    }

    #view-toggle {
        justify-content: flex-end;
    }

    .events,
    .weather,
    .spotlights {
        align-items: center;
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-overlay h2 {
        font-size: 2.5rem;
    }
    /* Discover */
    .cards-grid {
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
        grid-template-columns: repeat(3, 1fr);
    }
    .attraction-card img {
        width: 400px;
    }
    .attraction-card img:hover {
        filter: brightness(0.8);
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
}
