@media (min-width: 640px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header h1 {
        font-size: 2rem;
    }

    .container {
        max-width: 1100px;
    }

    .controls {
        flex-direction: row;
        justify-content: center;
    }

    .controls button {
        width: auto;
    }

    .grid-view {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
    #member-list.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
    #menuBtn{
        display: none;
    }

    .member-card {
        text-align: left;
    }

    #view-toggle {
        justify-content: flex-end;
    }
}
